
/*
General Styles
grey - 2C3E50
red - E74C3C
white - ECF0F1
light blue - 3498DB
blue - 2980B9
*/

body {
    font-size:18px;
    color: #2C3E50;
    background: #ECF0F1;
}

.low {
	color: #2C3E50;
}

.weather-template, .location-search {
	margin-top: 100px;
}

.day-icon, #weatherIcon {
	color: #2C3E50;
}

/*
Navbar
*/
.navbar-inverse {
	background-color: #2C3E50;
	border-color: #2C3E50;
}

.navbar-inverse .navbar-brand {
	color: #ECF0F1;
}
	.navbar-inverse .navbar-brand:hover {
		color: #ECF0F1;
	}


/*
Loading styles
*/

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

.loading {
	color: #2C3E50;
	font-size:36px;
	margin-top: 150px;
}

.loading-text:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1.5s infinite;      
  animation: ellipsis steps(4,end) 1.5s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-spinner {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 0.5rem solid #ECF0F1;
  border-top-color: #2C3E50;
  margin: 0 auto;
  -webkit-animation: spin .85s infinite linear;
          animation: spin .85s infinite linear;
}

/*
Current Weather
*/

.current-weather {

}

/*
Upcoming Weather
*/

.daily-weather {

}
	.upcomingDay {
		margin-bottom: 20px;
		border-radius: 4px;
		font-size:18px;
		background: #3498DB;
		border-color: #2980B9;
		color: #ECF0F1;
		padding: 0 15px 15px;
	}

	.upcomingDay:hover {
		cursor: pointer;
		background-color: #2980B9;
	}

	.day-icon {
		margin-right: 15px;
	}

/*
D3 element
*/

#hourlyTemp {
	background-color: #fff;
}

.line {
	fill: none;
	stroke: #2C3E50;
	stroke-width: 2px;
}

.grid {
	fill: none;
	stroke: #eee;
	stroke-width: 1px;
}

.axis {
	font-size: 12px;
	fill: #2C3E50;
}

svg .label, svg .title {
	fill: #2C3E50;
	font-weight: 400;
}